<div class="header">
  <h1>Welcome to RCVD E-learning</h1>
  <a href="/courses">Courses</a>
  <% if (user) { %>
    <p>Welcome, <%= user.firstname %>!</p>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a>
  <% } %>
  </div>