.instructor-card {
    border-left: 10px solid rgb(7, 113, 113);;
    padding-left: 20px;
    margin-bottom: 30px;
    transition: 1s;
}
.instructor-card:hover {
    scale: 1.1;
    cursor: pointer;
}
