/* Reset and global */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  color: #111827;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  color: rgb(7, 113, 113); /* professional blue */
}

.right {
  float: right;
}
.left {
  float: left;
}

/* App container */
.app-container {
  /* border: 3px solid green; */
}

.main-content {
  padding-right: 10%;
  padding-left: 10%;
}

.button {
  text-decoration: none;
  background-color: rgb(7, 113, 113);
  color: white;
  padding: 10px;
  border: 2px solid rgb(7, 113, 113);
  border-radius: 5px;
}
.button:hover {
  background-color: white;
  color: rgb(7, 113, 113);
  cursor: pointer;
}

/* =======================
   Responsive
======================= */
@media (max-width: 768px) {
  
}