/* Reset and global */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* push footer to bottom */
}
